* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1 {
  text-align: center;
  font-weight: 1000;
  letter-spacing: -1px;
  font-size: 3.1rem;
  margin-bottom: 4rem;
  margin-top: 15px;
}

.header-tools {
  display: flex;
  justify-content: center;
  gap: 40px;
  margin-bottom: 50px;
}

.header-input {
  width: 17rem;
  height: 3rem;
  font-size: 25px;
  background-color: #fff;
  border: none;
  box-shadow: 0px 10px 30px 0px rgba(0, 0, 0, 0.13);
}

.header-input::placeholder {
  text-transform: uppercase;
  font-size: 25px;
}

.imgBuscar {
  width: 7rem;
  position: absolute;
}
.content {
  text-align: center;
}

.grid-product {
  display: grid;
  grid-template-columns: repeat(auto-fill, 320px);
  column-gap: 3rem;
  row-gap: 7rem;
  justify-content: center;
  list-style: none;
  margin: 30px auto;
  padding: 0;
}

.search {
  font-size: 2rem;
}

.add {
  font-size: 1rem;
  height: 3rem;
  padding: 13px;
  border: none;
  font-weight: 700;
  background-color: #c2255c;
  color: #fff;
}

.card {
  background-color: #fff;
  height: 320px;
  height: auto;
  box-shadow: 0 0px 20px 0 rgba(0, 0, 0, 0.3);
}
.container-image-product {
  width: 100%;
  height: 15rem;
  border: none;
}

.imgProduct {
  width: 100%;
  height: 15rem;
  background-color: #fff;
}

.titleArt {
  color: #000;
  text-align: center;
  font-size: 2rem;
  margin-top: 16px;
  margin-bottom: 10px;
}
.container-details {
  display: grid;
  justify-items: start;
  row-gap: 3px;
  margin-bottom: 30px;
  padding: 0 20px;
  height: 251px;
}
span {
  font-size: 1.2rem;
  margin-bottom: 10px;
  color: #343a40;
  font-weight: 400;
}
.container-btn {
  margin-top: 10px;
  display: flex;
  justify-content: space-between;
}
.container-btn button {
  flex-basis: 50%;
  width: 5rem;
  height: 3rem;
  border: none;
  font-weight: 1000;
  color: #343a40;
}
.btnEliminar {
  background-color: #ffd43b;
}
.btnActualizar {
  background-color: #e67700;
}

/* MODAL WINDOW */
.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 50%;
  height: 100%;
  background-color: #f3f3f3;
  padding: 0;
  box-shadow: 0 4rem 6rem rgba(0, 0, 0, 0.3);
  z-index: 1000;
  transition: all 0.5s;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(4px);
  z-index: 100;
  transition: all 0.5s;
}

.modal__header {
  font-size: 2rem;
  margin-bottom: 2rem;
  line-height: 1.5;
}

.modal__form {
  margin: 0 3rem;
  display: grid;
  grid-template-columns: 1fr 2fr;
  align-items: center;
  gap: 2.5rem;
}

.modal__form label {
  font-size: 1.1rem;
  font-weight: 500;
}

.modal__form input {
  font-size: 1.1rem;
  padding: 1rem 1.5rem;
  border: 1px solid #ddd;
}

.modal__form button {
  grid-column: 1 / span 2;
  justify-self: center;
  width: 100%;
  background-color: #c2255c;
}

.btn--close-modal {
  font-family: inherit;
  position: absolute;
  top: -1.2rem;
  right: 2.5rem;
  font-size: 4rem;
  cursor: pointer;
  border: none;
  background: none;
}

.hidden {
  visibility: hidden;
  opacity: 0;
}

.btn {
  font-size: 1.6rem;
  font-family: inherit;
  font-weight: 500;
  border: none;
  padding: 1.25rem 4.5rem;
  cursor: pointer;
  transition: all 0.3s;
  color: #fff;
}

.btn:hover {
  background-color: var;
  background-color: #d6336c;
}

.btn--text {
  display: inline-block;
  background: none;
  font-size: 1.7rem;
  font-family: inherit;
  font-weight: 500;
  border: none;
  border-bottom: 1px solid currentColor;
  padding-bottom: 2px;
  cursor: pointer;
  transition: all 0.3s;
}

.advertence {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 30%;
  height: 20%;
  background-color: #f3f3f3;
  padding: 0;
  box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.5);
  z-index: 1000;
  transition: all 0.5s;
}
.btn--advertence-close {
  font-size: 40px;
  top: 0.1rem;
  right: 1rem;
}
.container-advertence {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
.icon-advertence {
  stroke: #c2255c;
  width: 30px;
}

footer {
  width: 100%;
  background-color: #212529;
  height: 15rem;
  margin-top: 26rem;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  justify-content: space-between;
  font-size: 20px;
}

footer p {
  color: #fff;
  padding: 3rem;
  justify-self: center;
}
footer div {
  display: flex;
  justify-content: center;
  gap: 4rem;
}

footer p a:link,
footer p a:visited {
  color: #fff;
  text-decoration: none;
}
